.top-background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    // height: 100rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.header-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding-top: 0.5rem;
    transition: 0.3s;
    z-index: 10;

    .header__top-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .top-content__brand-container {
            display: flex;
            align-items: flex-start;
            text-decoration: none;
            
            .brand-container__brand-logo {
                display: flex;
                flex-direction: column;
                width: 8rem;
                gap: 0.5rem;
                background: rgba(165, 165, 165, 0);

                img {
                    width: 100%;
                    height: auto;
                }
                .brand-logo--default {
                    display: flex;
                }
          
                .brand-logo--on-scroll {
                    display: none;
                }
                
            }
            
            .brand-container__brand-name {
                display: flex;
                width: 12.5rem;
                height: 3rem;
                align-items: center;
                padding: 0.8rem;

                .text {
                    font-size: 2.5rem;
                    font-style: italic;
                    font-weight: 700;
                    color: #fff;
                }
            }
        }
        .top-content__account-btn-group {
            display: flex;
            align-items: flex-start;
            gap: 1.5rem;

            .account-btn-group__login-btn {
                color: #fff;
                text-decoration: none;
                
                .login-btn__icon {
                    font-size: 2rem;
                }
            }

            .account-btn-group__register-btn {
                background: rgba(35, 110, 255, 0.8);
                border-radius: 0.5rem;
                text-decoration: none;

                .text {
                    color: #fff;
                    font-weight: 700;
                }
            }
            
            .account-btn-group__account-btn {
                border: none;
                .account-btn__icon {
                    font-size: 3rem;
                    color: #fff;
                }

                .text {
                    font-weight: 700;
                    color:#fff;
                }
            }
        }
    }

    .header__navbar {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-bottom: 0.5rem;

        a {
            text-decoration: none;
        }

        a:visited {
            color: #fff;
            text-decoration: none;
        }

        .navbar__item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 18rem;
            height: 5.5rem;
            gap: 0.8rem;
            padding: 1rem 1.5rem;
            flex-shrink: 0;
            border-radius: 0.5rem;
            
            cursor: pointer;

            .text {
                flex: 1 0 0;
                color: #fff;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 700;
            }
        }
        
        .navbar__item:hover {
            background: rgba(0, 0, 0, 0.2);
        }

        .navbar__item:active {
            background: rgba(0, 0, 0, 0.4);
        }
    }
}

.header-container.on-scroll {
    background-color: #fff;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  
    .header__top-content {
        .top-content__brand-container {
            .brand-container__brand-logo {
                .brand-logo--default {
                    display: none;
        }
  
        .brand-logo--on-scroll {
            display: flex;
        }
        }
  
        .brand-container__brand-name {
            .text {
                color: #000;
        }
        }
      }
  
        .top-content__account-btn-group {
            .account-btn-group__login-btn {
                border-radius: 0.66667rem;
                border: 1px solid #236eff;
        
                .text {
                    color: #000;
                }
        
                .login-btn__icon {
                    font-size: 2rem;
                    color: #000;
                }
        }
        .account-btn-group__account-btn {
          // border-radius: 0.66667rem;
          // border: 1px solid #236eff;
            .account-btn__icon {
                color: rgba(35, 110, 255, 0.8);
            }
  
            .text {
                font-weight: 700;
                color: #000;
            }
        }
      }
    }
  
    .header__navbar {
        .navbar__item {
            .text {
                color: #687176;
            }
        }
        .navbar__item:hover{
            background-color: #f2f3f3;
        }
        .navbar__item:active{
            background-color: #e4e6e6;
        }
    }
  }

.slogan-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0rem;
    padding-top: 14rem;

    .text {
        color:#fff;
        text-align: center;
        font-size: 3.5rem;
        font-weight: 900;
    }
}

.feature-container {
    display: flex;
    min-height: 20rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
    transition: all 0.3s;

    .feature-container__navbar {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .navbar__item {
            display: flex;
            width: 18rem;
            height: 5.5rem;
            padding: 1rem 1.5rem;
            justify-content: flex-end;
            align-items: center;
            gap: 0.8rem;
            flex-shrink: 0;

            cursor: pointer;

            .text {
                flex: 1 0 0;
                height: 1.5rem;
                color: #fff;
                text-align: center;
                font-size: 1.3rem;
                font-weight: 700;
                text-decoration: none;
            }

            ion-icon {
                font-size: 3rem;
                color: #fff;
            }  
        }
        
        .navbar__item.selected {
            border-radius: 0.5rem;
            background: #fff;
            
            .text {
                flex: 1 0 0;
                height: 1.5rem;
                color: #000;
                text-align: center;
                font-size: 1.3rem;
                font-weight: 700;
            }

            .airplane-icon {
                font-size: 3rem;
                color: #236eff;
            }
            .hotel-icon {
                font-size: 3rem;
                color: #04389f;
            }
            .bus-icon {
                font-size: 3rem;
                color: #c41f85;
            }
            .transfer-icon {
                font-size: 3rem;
                color: #22bbbb;
            }
        }
    }
    .feature__item {
        display: flex;
        flex-direction: column;
        gap: 0.8rem 2rem;

        .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
        }
        .config {
            background: none;
            box-shadow: none;
            .btn-dropdown {
                background: rgba(35, 110, 255, 0.8)
            }
        }
        .search-form{
            background: none;
            box-shadow: none;
            .input-block{
                .title{
                    .text{
                        color: #fff;
                    }
                }
            }
        }

    }
    #feature__flight-search{
        .search-form__remove-btn {
            ion-icon{
                color: white;
            }
        }
        #search-form__add-more-btn{
            ion-icon{
                color: white;
            }
            .text{
                color: white;
            }
        }
      }
}

.main-content {
    background-color: #fff;
    border-radius: 5rem 5rem 0 0;
 
    #main-carousel {
      border-radius: 5rem 5rem 0 0;
      background-color: white!important;
    }
    .main-content__container {
        margin-bottom: 10rem;
  
        .title-container {
            display: flex;
            padding: 1.3rem 1.6rem;
            padding-left: 0;
            justify-content: flex-start;
            align-items: center;
            gap: 0.8rem;
    
            .text {
                color: #373d41;
                font-size: 2rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .header-container {
        .header__top-content {
            .top-content__brand-container {
                .brand-container__brand-name {
                    display: none;
                }
            }
    
            .top-content__account-btn-group {
                .account-btn-group__sign-up-btn {
                    display: none;
                }
    
            }
        }
    
        .header__navbar {
            display: flex;
            align-items: center;
            gap: 1rem; 
            padding-bottom: .5rem;
        
            a {
                text-decoration: none;
            }
            a:visited{
                color: #fff;
                text-decoration: none;
            }
            .navbar__item {
                display: flex;
                width: auto; 
                height: auto; 
                padding: 1.3rem 1.6rem; 
                justify-content: center;
                align-items: center;
            }
      }
    }
    .feature-container{
        display: none;
    }
    .slogan-container{
        padding-top: 20rem;
        padding-bottom: 10rem;
    }
    .location-ad-card-container {
        .location-ad-card-container__item-container {
            .item-container__item {
                flex-basis: 40%;
            }
        }
    }
}