{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travelowkey</title>
    <link href="http://fonts.googleapis.com/css?family=Inter" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/main-style.css'%}">
    <link rel="stylesheet" href="{% static 'css/btn.css'%}">
    <link rel="stylesheet" href="{% static 'css/input-block.css'%}">
    <link rel="stylesheet" href="{% static 'css/dropdown.css'%}">
    <link rel="stylesheet" href="{% static 'css/feature-item.css'%}">
    <link rel="stylesheet" href="{% static 'flight/flight-search/css/index.css'%}">
    <link rel="stylesheet" href="{% static 'css/recom.css'%}">
    <link rel="stylesheet" href="{% static 'component/carousel/carousel.css'%}">
</head>
<body>
    <div id="header-container">
        <div id="header-default" class="hide">
            <header-component></header-component>
        </div>
        <div id="header-logged-in">
            <header-logged-in-component></header-logged-in-component>
        </div>
    </div>
    <div class="container-fluid carousel-container">
        <div class="carousel__content d-flex align-center justify-center">
            <img class="content-item content-item-1" data-index="1" src="{% static 'images/flight-ad-1.webp' %}" loading="lazy" alt="img">
            <img class="content-item content-item-2" data-index="2" src="{% static 'images/flight-ad-2.webp' %}" loading="lazy" alt="img">
            <img class="content-item content-item-3" data-index="3" src="{% static 'images/flight-ad-3.webp' %}" loading="lazy" alt="img">
            <img class="content-item content-item-4" data-index="4" src="{% static 'images/flight-ad-4.webp' %}" loading="lazy" alt="img">
            <img class="content-item content-item-5" data-index="5" src="{% static 'images/flight-ad-5.webp' %}" loading="lazy" alt="img">
        </div>
        <div class="carousel__nav">
            <div class="nav__btn" id="btn-left">
                <ion-icon name="arrow-back-circle-outline"></ion-icon>
            </div>
            <div class="text">Xem thêm khuyến mãi</div>
            <div class="nav__btn" id="btn-right">
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            </div>
        </div>
    </div>
    <div class="container main-content">
        <div id="feature__flight-search" class="container-fluid feature__item">
            <div class="flight-search__config config">
                <div class="config__ticket-info">
                    <div class="btn-dropdown ticket-info__passenger-quantity">
                        <div class="info passenger-quantity__info">
                            <ion-icon class="icon" name="people"></ion-icon>
                            <div class="text">
                                1 Nguoi lon, 0 tre em, 0 em be
                            </div>
                            <ion-icon class="drop-down-icon" name="chevron-down-outline"></ion-icon>
                        </div>
                        <div class="dropdown-panel passenger-quantity__dropdown-panel hide">
                            <div class="dropdown-panel__title">
                                <div class="text">
                                    So hanh khach
                                </div>
                            </div>
                            <div class="dropdown-panel__item" data-passenger-type="adult">
                                <ion-icon class="item__icon" name="body-outline"></ion-icon>
                                <div class="item__title">
                                    <div class="text"> Nguoi lon </div>
                                    <div class="comment"> (tu 12 tuoi) </div>
                                </div>
                                <div class="item__set-quantity">
                                    <!-- <ion-icon class="set-quantity__icon increase" name="add-circle-outline"></ion-icon> -->
                                    <ion-icon class="set-quantity__icon decrease" name="remove-circle-outline"></ion-icon>
                                    <div class="set-quantity__quantity">1</div>
                                    <ion-icon class="set-quantity__icon increase" name="add-circle-outline"></ion-icon>
                                </div>
                            </div>
                            <div class="dropdown-panel__item" data-passenger-type="child">
                                <ion-icon class="item__icon" name="body-outline"></ion-icon>
                                <div class="item__title">
                                    <div class="text"> Tre em </div>
                                    <div class="comment"> (tu 2-11 tuoi) </div>
                                </div>  
                                <div class="item__set-quantity">
                                    <ion-icon class="set-quantity__icon decrease" name="remove-circle-outline"></ion-icon>
                                    <div class="set-quantity__quantity">0</div>
                                    <ion-icon class="set-quantity__icon increase" name="add-circle-outline"></ion-icon>
                                </div>
                            </div>
                            <div class="dropdown-panel__item" data-passenger-type="baby">
                                <ion-icon class="item__icon" name="body-outline"></ion-icon>
                                <div class="item__title">
                                    <div class="text"> Em be </div>
                                    <div class="comment"> (duoi 2 tuoi) </div>
                                </div>
                                <div class="item__set-quantity">
                                    <ion-icon class="set-quantity__icon decrease" name ="remove-circle-outline"></ion-icon>
                                    <div class="set-quantity__quantity">0</div>
                                    <ion-icon class="set-quantity__icon increase" name ="add-circle-outline"></ion-icon>
                                </div>
                            </div>
                            <div class="dropdown-panel__confirm-btn">
                                <div class="text">Xac nhan</div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-dropdown ticket-info__seat-type">
                        <div class="info seat-type__info">
                            <ion-icon class="icon" name="star"></ion-icon>
                            <div class="text">
                                Pho thong
                            </div>
                            <ion-icon class="drop-down-icon" name="chevron-down-outline"></ion-icon>
                        </div>
                        <div class="dropdown-panel seat-type__dropdown-panel hide">
                            <div class="dropdown-panel__item selected" data-ticket-type="economy">
                                <ion-icon class="selected" name="ellipse"></ion-icon>    
                                <ion-icon class="unselected" name="ellipse-outline"></ion-icon>
                                <div class="item__title">
                                    <div class="text"> Pho thong </div>
                                </div>
                            </div>
                            <div class="dropdown-panel__item" data-ticket-type="business">
                                <ion-icon class="selected" name="ellipse"></ion-icon>    
                                <ion-icon class="unselected" name="ellipse-outline"></ion-icon>
                                <div class="item__title">
                                    <div class="text"> Thuong gia </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form id="flight-search__search-form--one" action="" class="search-form">
                <div class="search-form__input-container">
                    <div class="input-block right-connect">
                        <div class="title">
                            <div class="text">Tu</div>
                        </div>
                        <div class="input">
                            <ion-icon class="icon" name="airplane" style="color: #236eff;"></ion-icon>
                            <input id="flight-search__departure" class="departure__input" type="text" autocomplete="off" list="departureLocation" placeholder="Diem di">
                            <datalist id="departureLocation"></datalist>
                        </div>
                    </div>
                    <div class="input-block left-connect">
                        <div class="title">
                            <div class="text">Den</div>
                        </div>
                        <div class="input">
                            <ion-icon class="icon" name="airplane" style="color: #236eff;"></ion-icon>
                            <input id="flight-search__destination" class="destination__input" type="text" autocomplete="off" list="arrivalLocation" placeholder="Diem den">
                            <datalist id="arrivalLocation"></datalist>
                        </div>
                    </div>
                </div>
                <div class="search-form__input-container">
                    <div class="input-block">
                        <div class="title">
                            <div class="text">Ngay di</div>
                        </div>
                        <div class="input">
                            <ion-icon class="icon" name="calendar" style="color: #236eff;"></ion-icon>
                            <input id="flight-search__departure-date" class="departure-date__input" type="date" placeholder="YYYY-MM-DD" pattern="\d{4}-\d{2}-\d{2}">
                        </div>
                    </div>
                </div>
                <div class="search-form__btn-container">
                    <a id="search-form__submit-btn--one-flight" class="btn-submit">
                        <ion-icon name="search-outline"></ion-icon>
                    </a>
                </div>
            </form>
        </div>
    </div>
    <div class="container d-flex flex-column recom-container">
        <div class="title d-flex justify-center">
            <div class="text">Khách sạn nổi bật do Travelowkey đề xuất</div>
        </div>
        <div class="recom-item-list-container d-flex flex-row">
            <div class="recom-item-container p-1">
                <div class="recom-item p-1" id="item-hanoi" data-location="Ha Noi">
                    <div class="content">
                        <div class="label">Ha Noi</div>
                        <div class="text">Co hon 100 khach san</div>
                    </div>
                    <div class="recom-btn btn-default hide">
                        <div class="text">Tim chuyen bay</div>
                    </div>
                </div>
            </div>
            <div class="recom-item-container p-1">
                <div class="recom-item p-1" id="item-vungtau" data-location="Ba Ria - Vung Tau">
                    <div class="content">
                        <div class="label">Vung Tau</div>
                        <div class="text">Co hon 100 khach san</div>
                    </div>
                    <div class="recom-btn btn-default hide">
                        <div class="text">Tim chuyen bay</div>
                    </div>
                </div>
            </div>
            <div class="recom-item-container p-1">
                <div class="recom-item p-1" id="item-hcm" data-location="TP Ho Chi Minh">
                    <div class="content">
                        <div class="label">Ho Chi Minh</div>
                        <div class="text">Co hon 100 khach san</div>
                    </div>
                    <div class="recom-btn btn-default hide">
                        <div class="text">Tim chuyen bay</div>
                    </div>
                </div>
            </div>
            <div class="recom-item-container p-1">
                <div class="recom-item p-1" id="item-danang" data-location="Da Nang">
                    <div class="content">
                        <div class="label">Da Nang</div>
                        <div class="text">Co hon 100 khach san</div>
                    </div>
                    <div class="recom-btn btn-default hide">
                        <div class="text">Tim chuyen bay</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer-component>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'component/header/headerDefaultComponent.js' %}" type="text/javascript" defer"></script>
    <script src="{% static 'component/header/headerLoggedInComponent.js' %}" type="text/javascript" defer"></script>
    <script src="{% static 'component/footer/footer.js' %}" type="text/javascript" defer"></script>
    <script src="{% static 'component/carousel/carousel.js' %}" type="text/javascript" defer"></script>
    <script src="{% static 'flight/flight-search/js/flight-search.js' %}" type="text/javascript" defer></script>
</body>
</html>