#feature__bus-search {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .bus-search__config {
        .config__ticket-info {
            display: flex;
            gap: 2rem;
            
            .ticket-info__passenger-quantity {
                min-width: 28rem;
            }
        }
    }
}