#feature__hotel-search {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .hotel-search__config {
        .config__booking-info {
            display: flex;
            gap: 2rem;
            
            .booking-info__guest-and-room-quantity {
                min-width: 28rem;
            }
        }
    }
}