
.payment-container {
    display: flex;
    flex-direction: column;
  
    margin-top: 5rem;
    margin-bottom: 5rem;
  
    .payment-window {
      background-color: white;
      display: flex;
      flex-direction: column;
  
      gap: 2rem;
      padding: 1.5rem;
      border-radius: 0.5rem;
  
      .title {
        padding: 1.5rem;
  
        .text {
          color: #236EFF;
        }
      }
  
      .info-container {
        gap: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 1.5rem;
  
        .row-container {
          .content-container {
            width: 50%;
            gap: 1rem;
  
            .label {
              font-weight: 700;
              font-size: 1.7rem;
            }
  
            .text {
              font-weight: 500;
              font-size: 1.5rem;
            }
  
            #txt-totalPrice {
              color: #FF5E1F;
            }
          }
          .one-row-content-container {
            width: 100%;
          }
        }
      }
  
      .btn-payment {
        background: #FF5E1F;
        width: 25%;
        height: 10%;
  
        .text {
          font-size: 1.7rem;
          color: white;
          font-weight: bold;
        }
      }
    }
  }
  
  .border-bottom {
    border-bottom: 2px solid #AAB3B8;
  }

  #payment-window__flight-info, #payment-window__bus-info, #payment-window__hotel-info, #payment-window__transfer-info {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    img {
      width: 100px;
      height: 100px;
    }
    #text-info {
      flex:1;
      display: flex;
      flex-direction: column;

      .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }

  }
   
  @media only screen and (max-width: 900px) {
    .btn-payment {
      background: #FF5E1F;
      width: 35% !important;
      height: 10%;
  
      .text {
        font-size: 1.7rem;
        color: white;
        font-weight: bold;
      }
    }
  }