{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travelowkey</title>
        <link href="http://fonts.googleapis.com/css?family=Inter" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/main-style.css'%}">
        <link rel="stylesheet" href="{% static 'css/btn.css'%}">
        <link rel="stylesheet" href="{% static 'css/input-block.css'%}">
        <link rel="stylesheet" href="{% static 'css/dropdown.css'%}">
        <link rel="stylesheet" href="{% static 'css/feature-item.css'%}">
        <link rel="stylesheet" href="{% static 'hotel/hotel-display/css/index.css'%}">
    </head>
<body>
    <div id="header-container">
        <div id="header-default" class="hide">
            <header-component></header-component>
        </div>
        <div id="header-logged-in">
            <header-logged-in-component></header-logged-in-component>
        </div>
    </div>
    
    <div id="info_search" class="container main-content">
        <div id="feature__hotel-search" class="container-fluid feature__item">
            <div class="hotel-search__config">
                <div class="btn-dropdown booking-info__guest-and-room-quantity" style="background-color: #236eff;">
                    <div class="info passenger-quantity__info">
                        <ion-icon class="icon" name="people"></ion-icon>
                        <div class="text">
                            1 người lớn, 0 trẻ em, 1 phòng
                        </div>
                        <ion-icon class="drop-down-icon" name="chevron-down-outline"></ion-icon>
                    </div>
                    <div class="dropdown-panel passenger-quantity__dropdown-panel hide">
                        <div class="dropdown-panel__title">
                            <div class="text">
                                Số lượng khách
                            </div>
                        </div>
                        <div class="dropdown-panel__item" data-passenger-type="adult">
                            <ion-icon class="item__icon" name="body-outline"></ion-icon>
                            <div class="item__title">
                                <div class="text"> Người lớn </div>
                                <div class="comment"> (từ 12 tuổi) </div>
                            </div>
                            <div class="item__set-quantity">
                                <ion-icon class="set-quantity__icon decrease" name="remove-circle-outline"></ion-icon>
                                <div class="set-quantity__quantity">1</div>
                                <ion-icon class="set-quantity__icon increase" name="add-circle-outline"></ion-icon>
                            </div>
                        </div>
                        <div class="dropdown-panel__item" data-passenger-type="child">
                            <ion-icon class="item__icon" name="body-outline"></ion-icon>
                            <div class="item__title">
                                <div class="text"> Trẻ em </div>
                                <div class="comment"> (từ 2-11 tuổi) </div>
                            </div>  
                            <div class="item__set-quantity">
                                <ion-icon class="set-quantity__icon decrease" name="remove-circle-outline"></ion-icon>
                                <div class="set-quantity__quantity">0</div>
                                <ion-icon class="set-quantity__icon increase" name="add-circle-outline"></ion-icon>
                            </div>
                        </div>
                        <div class="dropdown-panel__item" data-passenger-type="room">
                            <ion-icon class="item__icon" name="bed-outline"></ion-icon>
                            <div class="item__title">
                                <div class="text"> Số phòng </div>
                                <div class="comment"></div>
                            </div>
                            <div class="item__set-quantity">
                                <ion-icon class="set-quantity__icon decrease" name="remove-circle-outline"></ion-icon>
                                <div class="set-quantity__quantity">1</div>
                                <ion-icon class="set-quantity__icon increase" name="add-circle-outline"></ion-icon>
                            </div>
                        </div>
                        <div class="dropdown-panel__confirm-btn">
                            <div class="text">Xác nhận</div>
                        </div>
                    </div>
                </div>
                <div class="search-form__input-container" style="width: auto;">
                    <div class="input-block">
                        <div class="title">
                            <div class="text" style="color:white;">
                                Thành phố, địa điểm hoặc tên khách sạn
                            </div>
                        </div>
                        <div class="input">
                            <ion-icon class="icon" name="location" style="color: #236eff;"></ion-icon>
                            <input id="hotel-search__location" class="location__input" type="text"
                                placeholder="Địa điểm" autocomplete="off" list="location">
                            <datalist id="location">
                            </datalist>
                        </div>
                    </div>
                </div>

                <div class="search-form__input-container" style="width: auto;">
                    <div class="input-block right-connect">
                        <div class="title">
                            <div class="text" style="color:white;">
                                Ngày nhận phòng
                            </div>
                        </div>
                        <div class="input">
                            <ion-icon class="icon" name="calendar" style="color: #236eff;"></ion-icon>
                            <input id="hotel-search__checkin-date" class="checkin-date__input" type="date"
                                placeholder="Ngày nhận phòng" autocomplete="off">
                        </div>
                    </div>
                    <div class="input-block left-connect">
                        <div class="title">
                            <div class="text" style="color:white;">
                                Ngày trả phòng
                            </div>
                        </div>
                        <div class="input">
                            <ion-icon class="icon" name="calendar" style="color: #236eff;"></ion-icon>
                            <input id="hotel-search__checkout-date" class="checkout-date__input" type="date"
                                placeholder="Ngày trả phòng" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="btn-default ReSearch-Button">
                    <ion-icon name="search-outline"></ion-icon>
                    <div class="text">Tìm khách sạn</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-content">
        <div class="hotel-book-container">
            <div class="hotel-book-sorting">
                <div class="info_hotel-book-sorting" style="margin-top:0; width: 290px;">
                    <div class="hotel-book-sorting-text">
                        <div class="hotel-filter-text">Bộ lọc:</div>
                        <button class="hotel-book-text-reset" id="hotel-reset-text">Đặt lại</button>
                    </div>
                    <div class="filter-container-class" id="filter-container-">
                        <div id="facilities-filter-container" style="width: auto;display:flex; flex-direction: row; margin-top: 5px; gap: 2px;"></div>
                        <div id="all-filter-container" style="width: auto; display: flex; flex-direction: column; margin-top: 5px;"></div>
                    </div>
                </div>
                <div id="hotel-book-advance-sorting-list-id" class="hotel-book-advance-sorting-list">
                    <div id='price-hotel' class="filter-hotel">
                        <div class="btn-dropdown rating-hotel-quantity" style="min-width: 15rem;">
                            <div class="wrapper">
                                <div class="select-hotel-price">
                                    <div class="text" style="color: black">Phạm vi giá</div>
                                    <div id="reset-filter" class="text" style="color: black">Đặt lại</div>
                                </div>
                                <div class="price-input">
                                    <div class="field">
                                        <div class="text" style="color: black; font-size: 10px;">VND</div>
                                        <input id="InputMin" type="number" class="input-min" value="0" style="border: none">
                                    </div>
                                    <div class="separator">-</div>
                                    <div class="field">
                                        <div class="text" style="color: black; font-size: 10px;">VND</div>
                                        <input id="InputMax" type="number" class="input-max" value="24000000" style="border: none">
                                    </div>
                                </div>
                                <div class="slider">
                                    <div class="progress"></div>
                                </div>
                                <div class="range-input">
                                    <input type="range" class="range-min" min="0" max="24000000" value="0" step="200">
                                    <input type="range" class="range-max" min="0" max="24000000" value="24000000" step="200">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id='rating-hotel' class="filter-hotel" style="width: 270px; margin-top: 15px;">
                        <div class="btn-dropdown rating-hotel-quantity" style="min-width: 15rem;">
                            <div class="info rating-hotel-quantity__info">
                                <div class="text" style="color: black">Hạng sao</div>
                                <div class="arrow-icon">
                                    <ion-icon class="drop-down-icon" name="chevron-down-outline" style="color: black"></ion-icon>
                                </div>
                            </div>
                            <div class="dropdown-panel dropdown-panel--set-quantity rating-hotel-quantity__dropdown-panel hide">
                                <div class="dropdown-panel__item" data-passenger-type="adult" style="gap: 1px">
                                    <input type="checkbox" id="myCheckbox" class="CBox" style="margin-right: 20dp;">
                                    <div class="text rating-content">
                                        <ion-icon name="star" class="star" style="color:rgb(229, 190, 10)"></ion-icon>
                                    </div>
                                </div>
                                <div class="dropdown-panel__item" data-passenger-type="adult">
                                    <input type="checkbox" id="myCheckbox" class="CBox" style="margin-right: 20dp;">
                                    <div class="text rating-content">
                                        <ion-icon name="star" class="star" style="color:rgb(229, 190, 10)"></ion-icon>
                                        <ion-icon name="star" class="star" style="color:rgb(229, 190, 10)"></ion-icon>
                                    </div>
                                </div>
                                <div class="dropdown-panel__item" data-passenger-type="adult">
                                    <input type="checkbox" id="myCheckbox" class="CBox" style="margin-right: 20dp;">
                                    <div class="text rating-content">
                                        <ion-icon name="star" class="star" style="color:rgb(229, 190, 10)"></ion-icon>
                                        <ion-icon name="star" class="star" style="color:rgb(229, 190, 10)"></ion-icon>
                                        <ion-icon name="star" class="star" style="color:rgb(229, 190, 10)"></ion-icon>
                                    </div>
                                </div>
                                <div class="dropdown-panel__item" data-passenger-type="adult">
                                    <input type="checkbox" id="myCheckbox" class="CBox" style="margin-right: 20dp;">
                                    <div class="text rating-content">
                                        <ion-icon name="star" class="star" style="color:rgb(229, 190, 10)"></ion-icon>
                                        <ion-icon name="star" class="star" style="color:rgb(229, 190, 10)"></ion-icon>
                                        <ion-icon name="star" class="star" style="color:rgb(229, 190, 10)"></ion-icon>
                                        <ion-icon name="star" class="star" style="color:rgb(229, 190, 10)"></ion-icon>
                                    </div>
                                </div>
                                <div class="dropdown-panel__item" data-passenger-type="adult">
                                    <input type="checkbox" id="myCheckbox" class="CBox" style="margin-right: 20dp;">
                                    <div class="text rating-content">
                                        <ion-icon name="star" class="star" style="color:rgb(229, 190, 10)"></ion-icon>
                                        <ion-icon name="star" class="star" style="color:rgb(229, 190, 10)"></ion-icon>
                                        <ion-icon name="star" class="star" style="color:rgb(229, 190, 10)"></ion-icon>
                                        <ion-icon name="star" class="star" style="color:rgb(229, 190, 10)"></ion-icon>
                                        <ion-icon name="star" class="star" style="color:rgb(229, 190, 10)"></ion-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="facilities-hotel" style="width: 270px; margin-top: 5px;">
                        <div class="btn-dropdown guest-and-room-quantity" style="min-width: 15rem;">
                            <div class="info guest-and-room-quantity__info">
                                <div class="text" style="color: black">Tiện nghi</div>
                                <div class="arrow-icon">
                                    <ion-icon class="drop-down-icon" name="chevron-down-outline" style="color: black"></ion-icon>
                                </div>
                            </div>
                            <div class="dropdown-panel dropdown-panel--set-quantity guest-and-room-quantity__dropdown-panel hide">
                                <div class="dropdown-panel__item" data-passenger-type="adult">
                                    <input type="checkbox" id="myCheckbox" class="FacilitiesCBox">
                                    <div class="text facilities-content">Wifi</div>
                                </div>
                                <div class="dropdown-panel__item" data-passenger-type="adult">
                                    <input type="checkbox" id="myCheckbox" class="FacilitiesCBox">
                                    <div class="text facilities-content">Swimming Pool</div>
                                </div>
                                <div class="dropdown-panel__item" data-passenger-type="adult">
                                    <input type="checkbox" id="myCheckbox" class="FacilitiesCBox">
                                    <div class="text facilities-content">Restaurant</div>
                                </div>
                                <div class="dropdown-panel__item" data-passenger-type="adult">
                                    <input type="checkbox" id="myCheckbox" class="FacilitiesCBox">
                                    <div class="text facilities-content">24-Hour Front Desk</div>
                                </div>
                                <div class="dropdown-panel__item" data-passenger-type="adult">
                                    <input type="checkbox" id="myCheckbox" class="FacilitiesCBox">
                                    <div class="text facilities-content">Elevator</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container detail-hotel-book">
                <div id="detail-hotel-book-list-id" class=" container detail-hotel-book-list">
                    <!-- <div id="hotel-item-template hide" class="hotel-item">
                        <div class="image-hotel-item">
                            <img src="{% static 'images/hotel-ad-1.jpeg'%}" alt="hotel1">
                        </div>
                        <div class="hotel-item-info">
                            <div class="hotel-item-1">
                                <div id="hotel-name" class="name-hotel-item">
                                    Davue Hotel Da Nang
                                </div>
                                <div class="price-hotel-item">1.052.000 VND</div>
                            </div>
                            <div class="rating-star-hotem-item">
                                <ion-icon name="star" class="star" style="color:rgb(229, 190, 10)"></ion-icon>
                                <ion-icon name="star" class="star" style="color:rgb(229, 190, 10)"></ion-icon>
                                <ion-icon name="star" class="star" style="color:rgb(229, 190, 10)"></ion-icon>
                                <ion-icon name="star" class="star" style="color:rgb(229, 190, 10)"></ion-icon>
                                <ion-icon name="star" class="star" style="color:rgb(229, 190, 10)"></ion-icon>
                            </div>
                            <div class="hotel-item-2">
                                <div class="hotel-book-position-frame">
                                    <ion-icon name="location-outline" style="color: black; width: 20px; height: 20px;"></ion-icon>
                                    <div id="position-hotel" class="hotel-book-position-text">
                                        Mĩ An, Đà Nẵng
                                    </div>
                                </div>
                            </div>
                            <div class="selected-btn-frame">
                                <div class="btn-default selected-btn"> Chọn phòng </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="btn-default hide" id="btn-showMore">
                    <div class="text" style="color: rgba(35, 110, 255, 0.8); font-weight: bold;">
                        Show more
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer-component></footer-component>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'component/header/headerDefaultComponent.js' %}" type="text/javascript" defer"></script>
    <script src="{% static 'component/header/headerLoggedInComponent.js' %}" type="text/javascript" defer"></script>
    <script src="{% static 'component/header/headerCheck.js' %}" type="text/javascript" defer"></script>
    <script src="{% static 'component/footer/footer.js' %}" type="text/javascript" defer"></script>
    <script src="{% static 'hotel/hotel-display/js/hotel-display.js' %}" type="text/javascript" defer></script>
</body>
</html>